<section>
    <div class="container">
        <h2>Nossas Ofertas</h2>

        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef> Título </th>
                <td mat-cell *matCellDef="let element"> element.titulo </td>
            </ng-container>

            <ng-container matColumnDef="preco">
                <th mat-header-cell *matHeaderCellDef> Preço </th>
                <td mat-cell *matCellDef="let element"> {{element.preco}} </td>
            </ng-container>

            <ng-container matColumnDef="precoDesconto">
                <th mat-header-cell *matHeaderCellDef> Preço Desconto </th>
                <td mat-cell *matCellDef="let element"> {{element.preco}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</section>